# macOS related files
.DS_Store
.AppleDouble
.LSOverride

# Icon files
Icon?
._*

# Thumbnails
._.DS_Store

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Other unwanted files/folders
data.zip

runai_submit_jobs.sh

#ignore model weights
*.pth
*.pt

